apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
  labels:
    app: django-app
    chart: django-minimal-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
    spec:
      containers:
        - name: django
          image: {{ .Values.django.image }}
          ports:
            - containerPort: 8000
          env:
            - name: DB_HOST
              value: "postgres-service"
            - name: DB_NAME
              value: "mydatabase"
            - name: DB_USER
              value: "myuser"
            - name: DB_PASS
              value: "mypassword"
            - name: DEBUG
              value: "True"
            - name: DJANGO_ALLOWED_HOSTS
              value: "*"
---
apiVersion: v1
kind: Service
metadata:
  name: django-service
spec:
  type: NodePort
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: {{ .Values.django.nodePort }}
  selector:
    app: django-app
