---
- name: Setup Kubernetes Master with K3S
  hosts: k8s_master
  become: yes

  tasks:
    - name: Install K3S
      shell: |
        curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="--tls-san {{ k8s_master_ip }} --node-external-ip {{ k8s_master_ip }}" sh -
      args:
        creates: /etc/rancher/k3s/k3s.yaml

    - name: Wait for K3S
      command: /usr/local/bin/k3s kubectl get nodes
      register: k3s_status
      until: k3s_status.rc == 0
      retries: 10
      delay: 10

    - name: Setup kubectl config
      block:
        - file:
            path: /home/ubuntu/.kube
            state: directory
            owner: ubuntu
            group: ubuntu
        - copy:
            src: /etc/rancher/k3s/k3s.yaml
            dest: /home/ubuntu/.kube/config
            remote_src: yes
            owner: ubuntu
            group: ubuntu
        - replace:
            path: /home/ubuntu/.kube/config
            regexp: '127.0.0.1'
            replace: '{{ k8s_master_ip }}'

    - name: Get join token
      command: sudo cat /var/lib/rancher/k3s/server/node-token
      register: k3s_token
      changed_when: false

    - name: Show cluster status
      command: kubectl get nodes
      register: cluster_status
      
    - name: Display status
      debug:
        var: cluster_status.stdout
